include accelergy/share/*
include accelergy/share/estimation_plug_ins/*
include accelergy/share/estimation_plug_ins/dummy_tables/*
include accelergy/share/estimation_plug_ins/dummy_tables/data/*
include accelergy/share/estimation_plug_ins/dummy_tables_w_interpolation/*
include accelergy/share/estimation_plug_ins/dummy_tables_w_interpolation/data/*